@media only screen and (max-width: 992px) {
  .big-container {
    left: 4%;
    width: 90%;
  }
  .password-2-label {
    left: 30em;
  }
  .LastName-label {
    left: 30em;
  }
  .FirstName-label {
    left: 5em;
  }
  .email-label {
    left: 5em;
  }
  .userName-label {
    left: 5em;
  }
  .password-1-label {
    left: 5em;
  }
  .Address-label {
    left: 5em;
  }
  .NationalID-label {
    left: 5em;
  }
  .phone-label {
    left: 5em;
  }
}
/* @media only screen and (min-width: 993px) {
  .big-container {
    left: 25%;
    width: 50%;
  }} */
@media only screen and (max-width: 768px) {
  .password-2-label {
    left: 22em;
  }
  .LastName-label {
    left: 22em;
  }
}
@media only screen and (max-width: 576px) {
  .password-2-label {
    left: 18em;
  }
  .LastName-label {
    left: 18em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .nav {
    /* max-width: fit-content; */
    background-color: #263e61;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    /* max-width: fit-content; */
    background-color: #263e61;
  }
}
@media only screen and (min-width: 1024px) {
  .nav .content .search-bar {
    height: 30px;
  }

  .nav .content .right {
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .nav .content .search-bar {
    height: 10px;
  }
}
@media only screen and (max-width: 462px) {
  .right2 {
    
    width: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav {
    background-color: #263e61;
  }
}

@media only screen and (min-width: 1034px) {
  .nav {
    width: 100%;
  }
}
@media only screen and (min-width: 1085px) {
  .toggle-setting {
    top: 70px;
  }
}
@media only screen and (max-width: 1085px) {
  .toggle-setting {
    top: 80px;
  }
}
@media only screen and (max-width: 576px) {
  .open {
    left: -200px;
    height: 700px;
  }
  .setting-box {
    background-color: #263e61;
  }
  .content {
    max-width: 576px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 577px) {
  .open {
    left: -200px;
    height: 700px;
    transition: 350ms;

  }
  .setting-box {
    background-color: #263e61;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .open {
    transition: 350ms;

    left: -200px;
    height: 700px;
  }
  .setting-box {
    background-color: #263e61;
  }
  .content {
    min-width: 576px;
    max-width: 1031px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .open {
    /* left: 0; */
    height: 700px;
    transition: 350ms;

  }
  .setting-box {
    background-color: #263e61;
  }
}
@media only screen and (max-width: 1430px) {
  .open {
    left: -200px;
    transition: 350ms;

    height: 700px;
  }
}
@media only screen and (max-width: 1032px) {
  .search-bar {
    max-width: fit-content;
    max-height: 75%;
  }
}
