.ContCardInfo{
    flex-direction: column;
    display: flex;
    width: 320px;
    height: 170px;
    background-color: aliceblue;
}
.InnerInfo{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: 70%; 
}
.ContForLink{
    height: 30%;
    display: flex;
    justify-content: center;
}
.LeftInner{
    color: white;
}
.RightInner img{
    width: 30px;
    height: 30px;
}
.ContForLink a, .ContForLink button{
        /* align-items: center; */
        cursor: pointer;
        color: white;
        text-align: center;
        width: 100%;
        /* background-color: antiquewhite; */
        padding: 5px;
}
.ContForLink button:hover ,.ContForLink a:hover{
    background-color: rgba(255, 255, 255, 0.123) !important;
}
.ContForLink button{
    border: none;
}