.containerPackages {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.ContDataaa {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 20px;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}
 .h1Great{
  color: var(--main-color);
  margin: 30px;
}