/* .allHallProfile {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
.contactWUs:hover .colorSvg1 {
  transform: scale(1.2);
}
.allContInfo{
  margin-left: 6%;
}
.whatsap:hover .colorSvg {
  transform: scale(1.2);
}
.gap {
  display: flex;
  gap: 10px;
}

.imageSlider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  justify-content: space-between;
  margin: 3%;
  padding: 30px;
  border-radius: 10px;
}
.imgImgeImg {
  width: 100%;
}
.imgImge {
  width: 30%;
}

.item {
  max-height: 25rem;
  min-width: 30%;
  padding: 40px 20px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}
.inner-carousel {
  display: flex;
}
.carousel {
  overflow: hidden;
  cursor: grab;
}

.mapImg {
  border-radius: 20px;
  width: 400px;
  height: 250px;
  opacity: 0.5;
}

.askBooking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;

}
/* .askBooking svg{
  color: var(--white-color);
} */

.askBooking:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);

}
.singleInfo {
}
.singleInfoMap {
}
.hallInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mapAndData {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.allInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.allInfo1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dataall {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.topShape {
  border-radius: 20px 20px 0px 0px;
  width: 94%;
  height: 30px;
  background-color: #243b55;
  margin-left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameWithdata {
}
.headcircle {
}
.imgcircle {
  width: 260px;
  height: 170px;
  border-radius: 60px;
}
.attributeName {
  margin-top: 10px;
  border: none;
  background-color: #9e9e9e21;
  border-radius: 30px;
  padding: 5px;
}
.attributeName1 {
  margin-top: 10px;
  border: none;
  background-color: #9e9e9e21;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 20px;
}
.p-attributeName,
.headInfo {
  color: #243b55;
}
.p-attributeName {
  margin: 5px;
}
.button-Details {
}
.div-Details {
}
.p-headInfo {
}
.headData {
}
.buttonPrice {
  position: relative;
  bottom: 50%;
}
.butns > button {
  width: 80px;
  font-size: 18px;
  border: navajowhite;
  background-color: #243b55;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.butns {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 20px; */
  /* margin: 10px; */
}
.dott button {
  border: none;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
}
.btnnextback {
  border: none !important;
  background-color: transparent !important;
  text-decoration: underline !important;
  color: #243b55 !important;
}
.btnnextback:hover {
  color: var(--main-color) !important;
}

.carousel__dot--selected {
  background-color: var(--main-color) !important;
}
.groupDots {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
}
.button-buttonPrice {
  border: 2px solid var(--main-color);
  font-size: 20px;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  text-decoration: none;
  justify-content: center;
  transition: 0.5s;
}
.button-buttonPrice:hover {
  background-color: var(--main-color);
  color: white;
}

.allhalls-container2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: space-evenly;
  width: inherit;
}
.for-button2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.hall-container {
  width: 400px;
  margin-bottom: 50px;
}
.img-div {
}
.hall-img {
  width: 100%;
  height: 300px;
}

.headInfoTop,
.hallName {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* margin-bottom: 40px; */
  color: var(--black-color);
}

@media only screen and (max-width: 992px) {
  .media {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (min-width: 993px) {
  .media {
    width: 740px;
  }
}
.media {
  border-radius: 5px;
}
.card-content {
  /* width: 80%; */
  background-color: #efefef;
  padding: 30px;
  margin-bottom: 50px;
}

.section-title {
  color: #243b55;
}
.uiForInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  WIDTH: 100%;
  row-gap: 20px;

}
.pForData{
  padding: 7px;
}
.pForInfo{
  font-weight: bold;
}
.liElement {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--main-color);
  list-style: none;
}

.dataModalContact {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 13%;
  box-shadow: 0px 0px 2px #9e9e9e;
  background-color: white;
}

.phonec,
.whatsap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location {
  display: flex;
  flex-direction: row;
}
.pLocation {
  margin: 0;
  margin-left: 4px;
}
.pWhatsap {
  margin: 0;
  margin-left: 4px;
  cursor: pointer;
}
.pWhatsap:hover{
  color: var(--main-color);
}
.linkWhats {
  display: flex;
  align-items: center;
}
.locationsvg {
  display: flex;
  align-items: center;
}
.contactWUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.dataModalContact a {
  text-decoration: none;
  color: black;
}
.dataModalContact a:hover {
  color: var(--main-color);
}
.colorSvg {
  color: green;
}




.bLM {
  display: flex;
  justify-content: center;
}

.contDataa {
  display: flex;
  flex-direction: row;
}
.contDataInfo {
  width: 70%;
}
.contReview {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 940px;
}
.reviewF,
.reviewS {
  padding: 30px;
  width: 60%;
  background-color: white;
  display: flex;
  /* margin-bottom: 100px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 5px var(--main-color);
  overflow: scroll;
  position: sticky;
  top: 20px;
}
.reviewF p,
.reviewS p {
  font-size: 18px;
  color: var(--black-color);
}
.firstColRate,
.secondColLove,
.thirdColLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.starsR .starsRSvg {
  margin: 3px;
}
.star {
  cursor: pointer;
}
.starsRSvg:hover {
  color: #fdcc0d;
}
.heartLove .heartLoveSvg,
.starsRSvg,
.LikeIcon {
  color: white;
  cursor: pointer;
}
.section__title{
  margin-bottom: 15px;
  font-size: 30px;
}
.likeDown1 {
  color: #243b55;
}
.likeDown {
  color: white;
  margin: 3px;
}
.likeDown1 svg{
  color: var(--black-color) !important;
}
.heartLoveSvg {
  width: 20px;
  height: 20px;
}

.LikeIcon {
  margin: 10px;
  width: 20px;
  height: 20px;
}
.LikeIcon:hover {
  color: #243b55;
}
.manyStarsR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manyStarsR div span {
  margin-left: 10px;
}

.PheartLove {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.ulDescription {
  display: flex;
  flex-direction: column;
}
.h3Title {
}
.pForDescription {
  padding: 10px;
  word-wrap: break-word;
}

.AllCommentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.containerCommentSection {
  width: 50%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* margin-top: 20px; */
}

.FormCommentSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  background-color: #ededed;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.FirstDivForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margin10Width90 {
  margin-bottom: 10px;
  width: 90%;
}

.FirstInput {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.Secondnput {
  padding: 10px;
  border: none;
  width: 90%;
  border-radius: 10px;
  height: 27px;
  resize: none;
}


.FirstDivForm h2{
  margin: 10px;
}
.commentData {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff61;
  align-items: center;
  margin-bottom: 30px;
}
.ImgName {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginRight {
  margin-right: 5px;
}

.pWrap {
  word-wrap: break-word;
  padding: 20px;
  margin: 0;
}
.width90 {
  width: 90%;
}
@media only screen and (max-width: 375px) {
  .imageSlider {
    width: auto;
  }
  .mapAndData,
  .mapImg {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .imageSlider {
    width: auto;
  }
  .mapAndData,
  .mapImg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .imageSlider {
    width: auto;
  }
  .mapAndData,
  .mapImg {
    width: 100%;
  }
  .img-slid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 769px) {
  .imageSlider {
    width: auto;
  }
  .mapAndData,
  .mapImg {
    width: 100%;
  }
  .img-slid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
