body{
  height: 1000px;
}

.container {
  width: 35%;
  height: 600px;
  padding-bottom: 30px;
  margin: auto;
  /* position: absolute; */
  /* left: 50%; */
  top: 100px;
  margin-top: 3%;
  border-color: #555;
  /* border: solid; */
  flex: auto;
  color: #263e61;
  font: #c7862f;
  border-radius: 30px;
  /* background-color: rgb(240, 240, 236); */
  /* background-color: #fff; */
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-100deg, #f5f4f6, #4158d0);
  /* background-color: #e4e9e4; */
  /* box-shadow: 15px 15px rgb(210 210 210); */
  font-family: auto;
}
.form-label {
  padding-top: 20%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: bold;
}
.tilte {
  text-align: center;
  font-size: x-large;
  margin-bottom: 40px;
}
.tilte svg{
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  margin-top: 20px;

}
.tilte h2{
  margin-top: -10px;
  margin-bottom: 0;
}

form{
  margin-top: 40px;
}
.email {
  padding-left: 20px;
  margin-bottom: 15px;
}
.form-check {
  padding-left: 10%;
  margin-bottom: 10px;
}
.password {
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}
.button {
  padding-top: 20px;
  text-align: center;
}
::placeholder {
  font-size: 14px;
  /* font: bolder; */
}
svg{
  color: #263e61;

}
.email-input,
.password-input {
      /* background-color: rgb(240, 240, 236); */
    /* background-color: rgb(240, 240, 236); */
    background-color: #e8e8e8;
    width: 70%;
    height: 35px;
    margin-top: 15px;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid #555;
    /* border-bottom: none; */
    /* background: #9053c7; */
    /* background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0); */
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(-100deg, #f5f4f6, #4158d0); */
    /* border-radius: 25px; */
    /* font-size: 12px; */
    background-color: transparent;
    font: bolder;
} /*
.password-input {
  background-color: rgb(240, 240, 236);
  width: 65%;
  height: 35px;
  margin-top: 15px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid #555;
} */
.btn {
  width: 60%;
  padding: 2% 2%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #c7862f;
  /* background-color: #d4d4d4; */
  background-color: #263e61;
  border: none;
  font-family: auto;
  border-radius: 15px;
}
.btn:hover {
  background-color: #4158d0;
}
.head{
  margin-bottom: 0;

}
svg{
  color: #263e61;
}
.btn:active {
  background-color: #4158d0;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

/* <!-- background-image: url(E:\GP\Hoadag\hoagag\src\user-solid.svg); -->
  background-image: url(E:\GP\Hoadag\hoagag\src\key-solid.svg);
 */
