/* Modal Overlay */
.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Window */
.modal2 {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;

  overflow: auto;
}

/* Modal Header */
.headContact2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: #424242;
}

/* Modal Form */
.FormModal2 {
  display: flex;
  flex-direction: column;
}

/* Modal Form Label */
label {
  margin-bottom: 10px;
  color: #424242;
  font-weight: bold;
}

/* Modal Form Input */
.InputModalHallDetails {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #424242;
}

/* Modal Form Textarea */
.textAreaModalHallDetails {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  font-size: 1rem;
  height: 100px;
  resize: none;
  color: #424242;
}

/* Modal Buttons Container */
.resetAndCancel2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}

/* Modal Cancel Button */
.cancel2 {
  background-color: transparent;
  border: none;
  color: #424242;
  font-size: 1rem;
  cursor: pointer;
}

/* Modal Submit Button */
.submitForm2 {
  background-color: #424242;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

/* Modal Exit Button */
.exit2 {
  position: absolute;
  top: 0;
  right: 0;
}

/* Modal Exit Button Style */
.buttonExit2 {
  background-color: transparent;
  border: none;
  color: #424242;
  font-size: 1.5rem;
  cursor: pointer;
}

.headContact {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.formAddPlan {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin: 2rem; */
  width: 60%;
  padding: 30px;
  border: 1px solid var(--main-color);
  background-color: white;
  border-radius: 10px;
}
.textarea1 {
  resize: none;
  padding: 10px;

  height: 70px;

  font-size: 18px;
}
.formAddPlan label {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.inputPlanData {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  font-size: 1.2rem;
}

.chooseImages {
  margin-top: 1rem;
}

.resetAndCancel {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 8px;
}



.exit {
  display: flex;
  justify-content: flex-end;
}

.buttonExit {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}
.buttonExit:hover {
  color: red;
}

.DivModalWithinINputLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.FormModal {
}

/* Add Plan Part */
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.modal-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* .modal1 {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  width: 30%;
  z-index: 1000;
  background-image: url("../components/images/planModalImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.modal1 h2 {
  margin-top: 0;
}
.h1Modal{    text-align: center;
  color: #121517;}

.modal1 label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #121517;
}


  .modal1 input,
  .modal1 textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 18px;
  }


.FOrmCont{
  width: 100%;
} */

.DivbtnModal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btnModal {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: #007bff;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #007bff;
}
.btnModal:hover {
  color: white;
  background-color: #007bff;
  cursor: pointer;
}
.formAddPlan .inputPlanData {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #f2f2f2;
  padding: 10px;
  /* padding-left: 20px; */
  /* height: 40px; */
  font-size: 16px;
  border-radius: 8px;
  /* box-shadow: inset 0px 0px 15px #cbced1, inset 0px 0px 0px 20px white; */
  letter-spacing: 1px;
}
.formAddPlan label {
  font-weight: bold;
}
