
.navbar {
  background-color: var(--black-color);
  height: 100px;
  display: flex;
  align-items: center;
  /* margin: 0 50px; */
  justify-content: space-between;
}
.left {
  gap: 20px;
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
}
.right2 {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-around;
}
.svgColor {
  color: var(--main-color);
}
.svgColor:hover{
  color: rgb(251, 179, 46);
}
.bigger:hover {
  color: var(--white-color);
}
.svgColor1 {
  width: 50px;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bigger {
  height: 20px;
  width: 30px;
}
.menu-bars {
  display: flex;
  font-size: 2rem;
  background: none;
}
.menu-bars svg{
  cursor: pointer;
  color: var(--main-color);
}
.nav-menu {
  background-color: var(--black-color);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 1000;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 20px;
  list-style: none;
  height: 60px;
}
/* .nav-text-bottom{
    position: absolute;
   bottom: 0;
  }
  .nav-text-bottom1{
    position: absolute;
   bottom: 70px;
  } */

.nav-text .aAll {
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--main-color);
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
}

.nav-text a:hover ,.nav-text .svgColor:hover,.nav-text button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.hoverOnX:hover {
  color: red;
}
.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--black-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.svgColor {
  margin-left: 16px;
}

.avatar {
  width: 120px;
  height: 150px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 10px;
  width: 200px;
  height: 15px;
  background: #f5f4f6;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-bar .search-bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 154px;
  height: 22px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-bar .search-bar-content .svg10 {
  width: 20px;
  height: 20px;

  /* gray/dark 4 */

  /* Inside auto layout */
  color: var(--main-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-bar .search-bar-content .search-text-and-rect {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 144px;
  height: 22px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-bar .search-bar-content .search-text-and-rect .rect {
  width: 2px;
  height: 22px;

  /* primary */

  background: var(--main-color);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-bar .search-bar-content .search-text-and-rect .input1 {
  width: 125px;
  height: 21px;
  margin-top: 0px;
  border: var(--white-color);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: #f5f4f6;
  box-shadow: none;
  padding-left: 10px;
  color: var(--main-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.input1:focus{
  outline: none;
}
.transparentBorderN{
  background-color: transparent;
  border: none;
}
.transparentBorderN:hover{
  background-color: var(--main-color) !important;
}
.profile-photo {
  display: flex;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  filter: drop-shadow(0 0 8px #c7862f);
  /* margin-top: 30px; */
  margin-right: 30px;
}
.profile-photo img{
  cursor: pointer;
}
/* .activeDashboard{
  display: flex;

}
.none{
  display: none;

} */