.CardContainer {
  width: 600px;
  height: 330px;
  background-color: white;
  display: flex;
  /* gap: 10px; */
  border: 1px solid beige;
  border-radius: 10px;
}
.package-btn {
  display: flex;
  gap: 5px;
}
.boldColor{
  font-weight: bold;
}

.CardContainer:hover {
  box-shadow: 6px 6px 15px #a8acb1;
}
.ContImgCard {
  width: 45%;
  height: 100%;
}
.ContDataInCard{
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: space-evenly;
}
.ContTwoData{
  display: flex;
  justify-content: space-between;
  height: 70%;
}
.ContImgCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.AllRightData {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 55%;
}
.WH{
  width: 100%;
  height: 100%;
}
.contPhotoFav{
  width: 45%;
}
.ContButtonGoToHall{
  display: flex;
  justify-content: center;
  height: 12%;
  gap: 10px;
}
.AllRightData .ContH3AndTrash h3 {
}
.AllRightData .ContH3AndTrash svg {
}
.AllRightData p {
  text-align: justify;
  max-height: 120px;
  overflow: auto;
}
 .buttonMain {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: 0.8s;
  padding: 7px 15px;
  cursor: pointer;
}
/* box-shadow: var(--main-color) 0px 4px 12px; */
 .edit{
  border: 1px solid rgb(29, 138, 29);
  color: rgb(29, 138, 29);
}
 .delete{
  border: 1px solid rgb(250, 19, 19);
  color: rgb(250, 19, 19);
}
 .details{
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
 .edit:hover{
  border: 1px solid rgb(29, 138, 29);
  color: white;
  background-color: rgb(29, 138, 29);
}
 .delete:hover{
  border: 1px solid rgb(250, 19, 19);
  color: white;
  background-color:rgb(250, 19, 19) ;
}
 .details:hover {
  background: var(--main-color);
  color: #fff;
}

