body {
  font-family: cursive;
}
.planner-cover-cont {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: right;
  background-image: url("../components/images/openclosed.jpg");
  background-color: rgb(108, 119, 136, 0.5);
  background-size: cover;
}

.planner-profile-photo-cont {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  background-color: rgb(108, 119, 136, 0.5);
}

.planner-profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  filter: drop-shadow(0 0 8px #c7862f);
  margin-right: 100px;
  margin-bottom: -20px;
  position: absolute;
}
.pic-planner-cont {
  width: 100%;
}
.planner-info {
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  background-color: rgb(236, 244, 236);
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.planner-div {
  display: flex;
  flex-direction: column;
  width: 250%;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 20px;
  background-color: rgb(108, 119, 136, 0.5);
}
.planner-name {
  font-size: 20px;
  font-weight: 600;
}
.role-type {
  font-size: 20px;
  margin-top: 10px;
}

.planner-sml-cont {
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 500px;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 6px 15px #555;
  /* background-color: #a8acb1; */
  border-radius: 3px;
  font: bolder;
  border-top: none;
  border-left: none;
  border-right: none;
}
.planner-all-label {
  display: flex;
  margin: 10px;
}

.planner-prof-btn-div {
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 500px;
  align-items: flex-start;
  justify-content: center;
}
.plans-tit {
  font-size: 30px;
}

.plans-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 233, 228);
}
.plan-title {
  font-size: 15px;
}
