body {
  background-color: #243b55;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 1000px;
}
.big-container {
  box-shadow: 0 6px 15px #a8acb1;

  border-radius: 30px;
  width: 50%;
  margin: auto;
  position: absolute;
  flex: auto;
  top: 20%;
  left: 25%;
  padding: 10px;
  color: #263e61;
  background-color: #e4e9e4;
  border-color: #555;
  font-family: auto;
  display: block;
  text-align: center;
}
svg {
  color: #c7862f;
}
.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}
.mb-3 {
  margin-bottom: 20px;
}
input {
  box-shadow: 0 6px 15px #555;
  background-color: #a8acb1;
  height: 35px;
  margin-top: 15px;
  padding-left: 40px;
  border-radius: 8px;
  font: bolder;
  border-top: none;
  border-left: none;
  border-right: none;
}
label,
.form-logo  {
  display: block;
}
.input-wrapper {
  position: static;
}
.logo {
  width: 200px;
  height: 80px;
}

.FirstName-label,
.LastName-label,
.email-label,
.userName-label,
.password-1-label,
.password-2-label,
.Address-label,
.NationalID-label,
.phone-label,
.male-input,
.female-label,
.role-select,
.role-label,
.male-label,
.female-input {
  position: absolute;
  z-index: 1;
  padding: 0px 5px;
}

.FirstName-label {
  top: 17ex;
  left: 4em;
}
.LastName-label {
  top: 17ex;
  left: 23em;
}
.LastName {
  position: absolute;
  right: 142px;
}

.LastName-input,
.FirstName-input {
  width: 38%;
  margin-left: 10px;
}

.email-label {
  top: 27.5ex;
  left: 4em;
}
.email-input {
  margin-left: 10px;
  width: 83%;
}
.userName-label {
  top: 37.8ex;
  left: 4em;
}
.userName-input {
  margin-left: 10px;
  width: 83%;
}
.password-1-label {
  top: 48ex;
  left: 4em;
}
.password-1-input {
  width: 38%;
  margin-left: 10px;
}
.password-2-label {
  top: 48ex;
  left: 23em;
}
.password-2-input {
  width: 38%;
  margin-left: 10px;
}
.Address-label {
  top: 59ex;
  left: 4em;
}
.Address-input {
  width: 83%;
  margin-left: 10px;
}
.NationalID-label {
  top: 69ex;
  left: 4em;
}
.NationalID-input {
  width: 83%;
  margin-left: 10px;
}
.phone-label {
  top: 79ex;
  left: 4em;
}
.phone-input {
  width: 83%;
  margin-left: 10px;
}
.gender,
.role {
  margin-bottom: 100px;
}
.male-label {
  top: 93ex;
  left: 4em;
}
.male-input {
  top: 93.2ex;
  left: 10em;
  box-shadow: none;
}
.female-label {
  top: 93ex;
  left: 12em;
}
.female-input {
  top: -2.8ex;
  left: 6em;
  box-shadow: none;
}
.role-label {
  top: 98.5ex;
  left: 4em;
}
.role-select {
  top: 101.5ex;
  left: 15em;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #243b55;
  color: #c7862f;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  text-align: center;
}
select::-ms-expand {
  display: none;
}

.btn-cont {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}
.btn {
  width: 60%;

  padding: 2% 2%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #c7862f;
  /* background-color: #d4d4d4; */
  background-color: #263e61;
  border: none;
  font-family: auto;
  border-radius: 15px;
}
.btn:hover {
  background-color: #4158d0;
}
.btn:active {
  background-color: #4158d0;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}
