.reserv-big-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 360px;
  justify-content: center;
}
.reserv-sml-cont {
  border-radius: 10px;
  background: #616161;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}
.reserv-sml-cont:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  margin: 10px;
}
.accept-btn {
  color: #fff !important;
  background-color: #4caf50 !important;
  width: 55%;
  border: none;
  display: inline-block;
  padding: 8px 10px;
  padding-right: 10px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.Requests-tit {
  color: white;
  display: flex;
  justify-content: center;
}
.view-btn {
  color: #fff !important;
  background-color: #2d82cbf5 !important;
  width: 49%;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.decline-btn {
  color: #fff !important;
  background-color: #f44336 !important;
  width: 49%;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  padding-left: 10px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.reserve-btn {
  margin: 5px;
  border-radius: 5px;
}
.reserve-tit {
  display: flex;
  justify-content: center;
}
.user-div {
  display: flex;
  flex-direction: row;
}

.user-info-div {
  display: flex;
  flex-direction: column;
}
.user-pic-cont,
.user-info-div,
.user-div,
.hall-name {
  color: #fff;
  font-size: 18px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.user-pic-cont,
.user-info-div {
  width: 200px;
  margin-right: 20px;
  display: flex;
}
.reserve-btn:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.pln-btn {
  width: auto;
  cursor: auto;
}
