
::placeholder {
  font-family: cursive;
  color: #263e61;
}
body {
  font-family: cursive;
}
.landing-container {
  width: auto;
  height: 550px;
  background-image: url("../components/images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.search-box {
  text-align: center;
  background-color:rgb(108 119 136 / 60%);
  height: inherit;
}
p {
  color: var(--main-color);
  font-family: cursive;
}
.sml-landing-text {
  font-size: 20px;
}
.sml-landing-text-container {
  margin-bottom: -50px;
}
.landing-text {
  padding-top: 20px;
}
.big-landing-text {
  font-size: 50px;
}

.city-input,
.price-input {
  height: -webkit-fill-available;
  font-family: cursive;
  width: 300px;
  border-radius: 10px;
}

.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.search-form {
  display: flex;
  flex-direction: row;
  border: solid #263e61;
  box-shadow: 6px 6px 15px #a8acb1;
  width: fit-content;
  block-size: fit-content;
  background-color: #e4e9e4;
  height: 50px;
  border-radius: 10px;
  border-color: #263e61;
}

.city-input,
.price-input {
  color: #263e61;
  border: none;
  text-align: center;
}
.city-input {
  border-right: #263e61;
}
.search-icon {
  display: block;
  color: #c7862f;
  height: 20px;
  width: 40px;
}

.search-btn,
.details-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: var(--main-color);
  border: none;
  font-family: cursive;
  border-radius: 10px;
  color: white;
}
.search-btn-div {
  background-color: #263e61;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.s-d-hover:hover {
  background-color: #4158d0;
}
.s-d-hover:active {
  background-color: #4158d0;
}
.details-btn {
  width: 60%;
  height: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #c7862f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allhalls-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: space-evenly;
  width: inherit;
}
.hall-container {
  border: 0.5px solid #afb2b8;
  border-radius: 5px;
  display: flex;
  width: 400px;
  height: 350px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 6px 6px 15px #a8acb1;
}
.hall-img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
.hall-title {
  width: 300px;
  color: black;
  font-size: small;
}
.hall-body {
  align-items: center;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

/*mobile*/
@media (max-width: 767px) {
  .city-input,
  .price-input {
    width: 130px;
  }
}
/*small-screens*/
@media (min-width: 768px) {
  .landing-container {
    width: 100%;
    height: 350px;
  }
  .city-input,
  .price-input {
    width: 230px;
  }
}
/*medium-screens*/
@media (min-width: 992px) {
  .landing-container {
    width: 100%;
    height: 550px;
  }
  .city-input,
  .price-input {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .landing-container {
    width: 100%;
    height: 550px;
  }
  .city-input,
  .price-input {
    width: 300px;
  }
}
