
.Allsidebar{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 30px 24px;
gap: 10px;
position: absolute;
width: 150px;
height: 665px;
left: 0px;
top: 0px;
/* background-color: #263e61; */
}

.Allsidebar .content1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 464px;
  width: 160px;
  height: 1260px;
  flex: none;
  order: 0;
  flex-grow: 0;

}
.sidebar-top{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 24px;
  gap: 10px;
  position: absolute;
  width: 160px;
  height: 510px;
  left: 0px;
  padding-right: 16px;
  top: 0px;

}



.Allsidebar .sidebar-top .Alllogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px; */
  gap: 12px;
  width: 160px;
  height: 33px;
  /* margin-right: 15px; */
  margin-bottom: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Allsidebar .sidebar-top .Alllogo img{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 5px;
    gap: 10px;
    width: 110px;
    height: 60px;
    border-radius: 6px;
    flex: none;
    order: 0;
    position: relative;
    flex-grow: 0;
    left: 10px;


}

.sidebar-top li {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 8px;
gap: 10px;

width: 174px;
height: 34px;

border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.sidebar-top li div {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 101px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.sidebar-top li div svg{
width: 20px;
height: 20px;
cursor: pointer;

color: #c7862f;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.sidebar-top li div .a1 {
text-decoration: none;
width: 102px;
height: 18px;

/* tittle/14 M */

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

color: #c7862f;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.sidebar-top .active {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 8px;
gap: 10px;

width: 174px;
height: 34px;

background: #F3F5F8;
border-radius: 6px;

/* Inside auto layout */

flex: none;
flex-grow: 0;}

.sidebar-top .logo{
/* Theme=on */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 108.91px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* logo */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 5px;
gap: 10px;

width: 26.91px;
height: 26.85px;

background: #EF9011;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* logo */

width: 16.91px;
height: 14.85px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

position: absolute;
width: 16.91px;
height: 13.63px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Motiv. */

width: 70px;
height: 31px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

color: #1F2128;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Allsidebar .content1 .sidebar-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 160px;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;

}
.Allsidebar .content1 .sidebar-bottom .setting
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 174px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.Allsidebar .content1 .sidebar-bottom .setting
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 8px;
gap: 10px;

width: 174px;
height: 34px;

border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Allsidebar .content1 .sidebar-bottom .setting .message
{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 83px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Allsidebar .content1 .sidebar-bottom .setting .message svg
{
width: 20px;
height: 20px;
color: #c7862f;
cursor: pointer;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Allsidebar .content1 .sidebar-bottom .setting .message a
{
text-decoration: none;
width: 55px;
height: 18px;

/* tittle/14 M */

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;

/* gray/dark 2 */

color: #c7862f;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.sidebar-box {
  position: fixed;
  top: 0;
  width: 200px;
  min-height: 100vh;
  /* height: 100%; */
  z-index: 1000;
  background-color: #263e61;
  transition: 850ms;

}
.toggle-setting {
  position: absolute;
  left: 200px;
  width: 35px;
  top: 69px;
  height: 35px;
  background-color: #c7862f;
  border: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;

}
 .open{
  transition: 350ms;

 }
.fa-gear {
  width: 30px;
  height: 20px;
  position: relative;
  padding: 8px 0px;
  top: 0px;
  color: #263e61;
  cursor: pointer;

}


