*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100%;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    justify-content: center;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    cursor: pointer;
}
.link{
    display: flex;
    color: #fff;
    flex-direction: column-reverse;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    background-color: black;
    border: none;
}
.link:hover{
    background:lightskyblue !important;
    color: #000;
    transition: all 0.5s;
}
/* .active{
    background: lightskyblue;
    color: #000;
} */
.icon, .link_text{
    font-size: 18px;
}

.alllinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}