.big-SocialMedia-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  height: 300px;
  margin-left: 15px;
}
.color-facebook-social {
  background-color: #3b5998;
}
.color-linkden-social {
  background-color: #0077b5;
}
.color-google-social {
  background-color: #db4437;
}
.color-whatsapp-social {
  background-color: #25d366;
}
.color-twitter-social {
  background-color: #00acee;
}

.header-SocialMedia-text {
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-size: 25px;
  color: #fcb414;
  margin: 200px;
}
.body-SocialMedia-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #243b55;
  width: 500px;
}
.top-SocialMedia {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.aLink-SocialMedia {
  border-radius: 3px;
  width: 30px;
  height: 33px;
  line-height: 34px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.icon-SocialMedia {
  color: white;
}
.git {
  background-color: #000;
}
.sml-social-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.a-tag {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}
