.big-SocialMedia-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 250px;
}
.header-SocialMedia-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
  font-size: 25px;
  color: #fcb414;
}
.body-SocialMedia-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #243b55;
}
