.big-TermofUse-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin: 20px;
}
.header-TermofUse-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #fcb414;
}
.body-TermofUse-text {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #243b55;
  margin: auto;
}
